<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body>

  <h1>Budgtr ALL</h1>

  <div class="continer">

    <table>
      <% for(let i=0; i < allBudget.length; i++) { %>
        <tr>
          <td> <a href="/budgets/<%= i %>">
              <%= allBudget[i].name%>
            </a>
          </td>

        </tr>
        <% } %>
    </table>

    <button type=“button”><a href="/budgets/new" class="back-btn">New</a></button>

  </div>

</body>

</html>